@import "../../assets/styles/mixins";

.pacman {
  display: none;
  left: 12px;
  max-height: 25px;
  max-width: 25px;
  position: absolute;
  top: 12px;

  @include medium() {
    left: 20px;
    max-height: 40px;
    max-width: 40px;
    top: 20px;
  }

  @include large() {
    left: 20px;
    max-height: 50px;
    max-width: 50px;
    top: 20px;
  }
}
