// color variable
$blue: #00008b;
$dark-blue: #114f90;
$ice-blue: #cce5ff;

.btn {
  background: $ice-blue;
  border: 1px solid $dark-blue;
  color: $blue;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  text-transform: capitalize;
  outline: none;
  width: 75px;
}
