@import "../../assets/styles/variables";
@import "../../assets/styles/functions";

.btn {
  background: $ice-blue;
  border: 1px solid $dark-blue;
  border-radius: units(4px);
  color: $blue;
  cursor: pointer;
  font-size: units(16px);
  margin: units(10px);
  outline: none;
  padding: units(10px 15px);
  text-align: center;
  text-transform: capitalize;

  &:first-child {
    margin-left: 0;
  }
}
