@import "../../assets/styles/functions";

.controls {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &-text {
    margin: units(10px 10px 10px 0);
  }

  &-status {
    display: flex;
    flex-direction: column;
  }
}
